extends ./layout/index

block contenido
    main.container
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imágen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{page}
                blockquote Lorem Pariatur facilis quos dolore eum, maiores repellat, quam magni ab illo ad necessitatibus eos eligendi natus excepturi veritatis, aperiam dolorem incidunt commodi!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel numquam dolore dignissimos aut aliquam labore officiis delectus maiores a. Delectus fugiat laborum numquam ullam dignissimos debitis laudantium cumque fugit quo!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem totam libero voluptates, debitis itaque dolor dolorem quisquam perspiciatis porro! Debitis optio dicta harum eos ut molestiae iure. Obcaecati, ipsum similique?
        .listado-iconos 
            .container.mt-5.py-5-text-center 
                .row
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nostrum deleniti quas veniam dolor ipsum itaque eveniet distinctio sapiente perferendis! Minus ad a corporis quia recusandae optio sint impedit maxime?
                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Destinos 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nostrum deleniti quas veniam dolor ipsum itaque eveniet distinctio sapiente perferendis! Minus ad a corporis quia recusandae optio sint impedit maxime?
                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Precios 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nostrum deleniti quas veniam dolor ipsum itaque eveniet distinctio sapiente perferendis! Minus ad a corporis quia recusandae optio sint impedit maxime?